$background: #c8dec8;
$text-color: #0d0714;
$background-page: #c8dec8;
$background-section: #0d0714;
$subtitle: #ffffff;
$input-text: #777777;
$input-border: #3e1671;
$task-active: #9e78cf;
$task-completed: #78cfb0;
$item-background: #15101c;
